@model GestionFerias_CTPINVU.Models.ResultadosEvento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ResultadosEvento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultadoEventoId" />
            <div class="form-group">
                <label asp-for="EventoId" class="control-label"></label>
                <select asp-for="EventoId" class="form-control" asp-items="ViewBag.EventoId"></select>
                <span asp-validation-for="EventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoResultados" class="control-label"></label>
                <input asp-for="EstadoResultados" class="form-control" />
                <span asp-validation-for="EstadoResultados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuezResponsableUsuarioId" class="control-label"></label>
                <select asp-for="JuezResponsableUsuarioId" class="form-control" asp-items="ViewBag.JuezResponsableUsuarioId"></select>
                <span asp-validation-for="JuezResponsableUsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResolucionFinal" class="control-label"></label>
                <input asp-for="ResolucionFinal" class="form-control" />
                <span asp-validation-for="ResolucionFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacion" class="control-label"></label>
                <input asp-for="UsuarioCreacion" class="form-control" />
                <span asp-validation-for="UsuarioCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModificacion" class="control-label"></label>
                <input asp-for="UsuarioModificacion" class="form-control" />
                <span asp-validation-for="UsuarioModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
